---
import logo from "/logo.svg";
const navigation = [
  { name: "Home", link: "/" },
  {
    name: "Blocks",
    link: "/blocks/introduction",
    children: [
      { name: "Introduction", link: "/blocks/introduction" },
      { name: "Mathematics", link: "/blocks/mathematics" },
      { name: "Deep Learning", link: "/blocks/deep_learning" },
      { name: "GOFAI", link: "/blocks/gofai" },
    ],
  },
  { name: "Donate", link: "/donate" },
  { name: "About", link: "/about" },
];
---

<header
  class="fixed top-0 left-0 w-full drop-shadow-sm bg-white z-50 select-none py-2 px-4"
>
  <div class="flex justify-center items-center container mx-auto">
    <div class="flex items-center flex-1 space-x-3">
      <a class="block max-w-[20px]" href="/"
        ><img src={logo} alt="World4AI Logo" />
      </a>
      <span class="font-bold tracking-[5px] uppercase">World4AI</span>
    </div>
    <input type="checkbox" id="nav-toggle" class="peer hidden" />

    <!--overlay -->
    <div
      class="hidden peer-checked:block md:peer-checked:hidden md:hidden absolute left-0 top-full w-full h-[100vh] bg-black/50"
    >
    </div>

    <!-- navigation menu -->
    <nav
      class="hidden md:block peer-checked:block bg-white w-full md:w-fit absolute top-full left-0 md:relative flex-none text-sm p-2 md:p-0"
    >
      <ul
        class="flex flex-col md:flex-row md:space-x-10 lg:space-x-20 font-bold"
      >
        {
          navigation.map((nav) => (
            <li class="group relative">
              <a class="inline-block p-2 hover:bg-gray-100" href={nav.link}>
                {nav.name}
              </a>
              {nav.children && (
                <ul class="z-10 bg-white text-left whitespace-nowrap md:hidden md:group-hover:block md:absolute md:-left-2 md:drop-shadow-sm">
                  {nav.children.map((child) => (
                    <li>
                      <a
                        class="inline-block py-2 px-4 w-full hover:bg-gray-100"
                        href={child.link}
                      >
                        {child.name}
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
    <!-- hamburger -->
    <label for="nav-toggle" class="md:hidden cursor-pointer">
      <span
        id="top"
        class="pointer-events-none block w-5 h-[1px] mb-1.5 bg-black"></span>
      <span
        id="mid"
        class="pointer-events-none block w-5 h-[1px] mb-1.5 bg-black"></span>
      <span id="bot" class="pointer-events-none block w-5 h-[1px] bg-black"
      ></span>
    </label>
  </div>
</header>
